#root {
  width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

p {
  margin: 0;
}

.header-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form label {
  display: grid;
  gap: 1rem;
  grid-template-columns: 200px 300px 50px auto;
  justify-content: start;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-data-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-data-item {
  padding: 2rem;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-data-item__image-container img {
  width: 500px;
}

.form-data-container.highlight .form-data-item:first-child {
  border: 2px solid red;
}
